<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo-small.png" alt="Sakar logo" class="db w4 center mb4 br0">
		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Sakar</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/gallery" class="link">Gallery</a></li>
					<li><a href="/testimonials" class="link">Testimonials</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Contact</h3>
				<ul class="mb3">
					<li>Darius Hashemi</li>
					<li>0425788241</li>
				</ul>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/Sakarconstructions/" "src" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://www.linkedin.com/in/darius-hashemi-838921b7" "src" "icons-linkedin") }}
					{{ partial "social-icon" (dict "link" "http://www.homeimprovementpages.com.au/connect/sakarconstructions/service/277660" "src" "icons-hipages") }}
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Legal details</h3>
        <div class="dl-horizontal">
          <dt><strong>Registered Name</strong></dt>
          <dd>Sakar Constructions Pty Ltd ATF Hashemi Family Trust</dd>
          <dt><strong>ABN</strong></dt>
          <dd>96 684 887 624</dd>
          <dt><strong>ACN</strong></dt>
          <dd>605 837 812</dd>
          <dt><strong>BLD</strong></dt>
          <dd>267 261</dd>
        </div>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
